name: E2E Tests
on:
  workflow_dispatch:
    inputs:
      version:
        description: Name of the version to test
        type: string
        required: true
  workflow_call:
    inputs:
      version:
        description: Name of the version to test
        type: string
        required: true
jobs:
  e2e:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v5.0.0
        with:
          go-version: '1.25'

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.10.0

      - name: Run E2E tests
        run: make e2e ASTROLAVOS_VERSION=${{ inputs.version }}
