---
name: "CI"
on:
  push:
      branches: [main]
      paths:
      - '.github/workflows/*'
      - '*.go'
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'
  pull_request:
      paths:
      - '.github/workflows/*'
      - '*.go'
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

jobs:
  build:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run go fmt
        run: make fmt

      - name: Run go vet
        run: make vet

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.4.0
          args: --timeout 5m --modules-download-mode=vendor

      - name: Run go test
        run: make test
